{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <h2>Register</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username (max. 150 characters. Letters, digits and @/./+/-/_ only.</label>
                <input type="text" class="w-50 form-control" id="username" name="username" autofocus required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="w-50 form-control" id="email" name="email">
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">Password</label>
                <input type="password" class="w-50 form-control" id="password1" name="password1" required>
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Confirm Password</label>
                <input type="password" class="w-50 form-control" id="password2" name="password2" required>
            </div>
            <div class="mb-3">
                <ul class="ps-3">
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
            </div>
            {% if error_message %}
            <div class="mb-3">{{error_message}}</div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
{% endblock %}